﻿.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 132px;
}

.cf {
  background-color: #FADF8E;
}

.mf {
  background-color: #99D6E8;
}

.medband {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 25px;
  display: inline-block;
}

.smallband {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 10px;
  display: inline-block;
}

.lead {
  margin: 0;
  padding-top: 2px;
  height: 5px;
  width: 75px;
  background-color: silver;
  display: inline-block;
}

th {
	font-size: 16px;
}

tbody>tr {
    color: black;
}

tbody>tr.black {
    color: white;
}

tbody>tr.brown {
    color: white;
}

tr.black {
    background-color: black;
}

tr.brown {
    background-color: brown;
}

tr.red {
    background-color: red;
}

tr.orange {
    background-color: orange;
}

tr.yellow {
    background-color: yellow;
}

tr.green {
    background-color: green;
}

tr.blue {
    background-color: blue;
}

tr.violet {
    background-color: violet;
}

tr.grey {
    background-color: grey;
}

tr.white {
    background-color: white;
}

tr.silver {
    background-color: silver;
}

tr.gold {
    background-color: gold;
}